@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.home {
  padding-top: 5rem;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://images.pexels.com/photos/3887985/pexels-photo-3887985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');

  .container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #eee;
      text-align: center;
      h1 {
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 900;
        letter-spacing: 0.2rem;
        font-family: Staatliches, cursive;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        color: #e6e6e6;
      }
    }
    .arrow {
      text-align: center;
      position: absolute;
      top: 80%;
      left: 46%;
      span {
        display: block;
        width: 1rem;
        height: 1rem;
        border-bottom: 5px solid #fff;
        border-right: 5px solid #fff;
        transform: rotate(45deg);
        margin: 0.5rem;
        animation: scroll 2s infinite;

        :nth-child(2) {
          animation-delay: -0.2s;
        }
        :nth-child(3) {
          animation-delay: -0.4s;
        }
      }
    }
  }
  .greetings {
    background-color: #000;
    color: #e6e6e6;

    padding: 2rem;
    .message {
      h2 {
        text-transform: uppercase;
        font-size: 1.5rem;
        span {
          color: #ffdd00;
          font-size: 1rem;
        }
      }
      p {
        font-size: 1rem;
        margin: 1rem 0;
      }
    }
    .image-container {
      img {
        margin: auto;
        width: 70%;
        object-fit: cover;
      }
    }
  }
  .menu-features {
    background: #000;
    color: #e6e6e6;
    padding: 2rem;
    .container {
      .header {
        text-transform: uppercase;
        h2 {
          span {
            color: #ffdd00;
            font-size: 1rem;
          }
        }
      }
      .features-card {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 3rem;
        .card {
          background-color: #222;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 1rem;
          padding: 2rem;

          .icon {
            font-size: 4rem;
          }
        }
      }
    }
    .button {
      text-align: center;
      margin-top: 2rem;
    }
  }
  .testimonial {
    background: linear-gradient(93deg, #333 35%, #222 63%);
    padding: 2rem;
    color: #fff;
    .container {
      .header {
        margin: 2rem 0;
        text-transform: uppercase;
        span {
          color: #ffdd00;
          font-size: 1rem;
        }
      }
      .testi-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        .card {
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);

          border-radius: 2rem;
          display: flex;
          flex-direction: column;
          padding: 3rem;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          color: #eee;
          background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url('https://images.unsplash.com/photo-1554679665-f5537f187268?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
          background-size: cover;
          .icon {
            font-size: 4rem;
          }
          h4 {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
